#x{
    background-image: url("imagens/img1.jpg");
 background-size: cover ;
 background-repeat: no-repeat;
 background-attachment: fixed;

}
#y{
    background-image: url("imagens/yoshi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#z{
    background-image: url("imagens/yoshi.jpg");
    background-size: cover;
    background-attachment:fixed;
}
#a{
    background-image: url(imagens/harry.jpg);
    background-repeat:repeat;
    background-size: 100px ;
    background-attachment: scroll;
}
#b{
    background-image: url(imagens/harry.jpg);
    background-repeat:repeat;
    background-size: 100px ;
    background-attachment: fixed;
}
div{
    text-align: justify;
    color :blueviolet;
    background-color: aqua;
}